# My Jupyter Notebook on IBM Watson Studio

This notebook is created for the Data Science course exercises.

The following are some of the popular languages used in Data Science:

1. Python  
2. R  
3. SQL

The following are some of the popular libraries used in Data Science:

1. Pandas  
2. NumPy  
3. Matplotlib

The following table shows some of the popular Data Science tools:

| Tool        | Category           |
|-------------|--------------------|
| Jupyter     | Notebook           |
| RStudio     | IDE                |
| Apache Spark| Big Data Framework |

Here are some examples of arithmetic expressions in Python:

1. Addition: 5 + 3
2. Subtraction: 10 - 4
3. Multiplication: 6 * 7
4. Division: 20 / 5

In [5]:
# Example of multiplying and adding numbers
a = 5
b = 3
c = 2

# Addition
sum_result = a + b
print("Sum:", sum_result)

# Multiplication
multiply_result = b * c
print("Multiplication:", multiply_result)

Sum: 8
Multiplication: 6

In [6]:
# Convert minutes to hours
minutes = 120  # مثال: 120 دقيقة
hours = minutes / 60
print(minutes, "minutes is equal to", hours, "hours")

120 minutes is equal to 2.0 hours

Here are the main objectives of this exercise:

- Understand basic arithmetic operations in Python
- Learn how to write and run code cells
- Practice using Markdown for documentation
- Take screenshots of your work for submission

# Author Details

**Name:** Omar Hamad